/* 要素セレクタのみ定義する */

html {
  font-size: 62.5% !important;
}

body {
  font-family: $font-family;
  font-size: 1.6rem !important;
  font-weight: normal;
  line-height: 1.6;
  color: $black;
  -webkit-font-smoothing: antialiased;
}
