.common-button {
  background: $red;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  &.-outline {
    background: $white;
    border: 1px $red solid;
    color: $red;
  }
}
