.icon-container {
  &.gray {
    color: $gray;
  }
  &.white {
    color: $white;
  }
  &.phone {
    transform: rotate(135deg);
  }
}
.maximizeIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 40px;

  &.-currentUser {
    right: 0;
    top: 0;
  }
}
.muteIconWrapper {
  width: 28px;
  height: 28px;
  background-color: #e8374a;
  position: absolute;
  left: 8px;
  display: flex;
  bottom: 36px;
  border-radius: 50%;
  > .muteIcon {
    margin: auto;
  }
  &.-currentUser {
    right: 0;
    top: 0;
  }
}
