@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=RocknRoll+One&family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap");
.message-text {
  font-family: "Dela Gothic One", cursive　!important;
  color: $red;
  font-size: 40px;
}
