.my-avatar-canvas {
  border-radius: 8px;
  &.-mixmize {
    margin-right: 800px;
    display: block;
    width: 200px !important;
    height: 200px !important;
    margin-top: 40px;
  }
}
.my-avatar-canvas-wrapper {
  position: relative;
}
